@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
@model IPagedList<string>
@{
    ViewBag.Title = "Home Page";
}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Image/Yapahuwa.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/watadageya.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/DaladaMaligawa.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="row">
    
    <div class="container">
        <p>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="form-inline">
                    @Html.TextBox("search", "", new { @class = "form-control mr-sm-2" }) <input type="submit" value="Search" class="btn btn-outline-default my-2 my-sm-0" />
                </div>

            }
        </p>
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="card" style="width: 17rem; margin-left:11px; margin-top:10px;">
                    <a href=@Url.Action("VirtualView","home",new { name = ""+item})>
                        <img src="~/Image/Photo/@(item).jpg" alt="..." class="img-thumbnail">


                        <div class="card-body">
                            <h5 class="card-title">@item</h5>

                        </div>
                    </a>
                </div>

            }
        </div>



        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })

    </div>



</div>